/*Modificaciones*/
.custom-file-control:read-only, .form-control:read-only {
    background-image: linear-gradient(0deg,rgba(255, 255, 255, 0.26) 1px,#ffffff00 0),linear-gradient(0deg,rgba(255, 255, 255, 0.26) 1px,#ffffff00 0);
}
.is-focused [class *="bmd-label"], .is-focused [class^=bmd-label]{
	color: white !important;
}

/* css propio */
.filtro{
	border-radius: 3px;
	box-shadow: 0px 0px 5px 2px #808080a8;
}