/*cargamos las fuentes a utilizar*/
@font-face{
	font-family: MontserratMedium;
	src: url('../font/Montserrat-Medium.ttf') format("truetype");
}
@font-face{
	font-family: MontserratBold;
	src: url('../font/Montserrat-Bold.ttf') format("truetype");

}

/*Modificaciones ccs del lado Tienda*/
.nav-link {  
	padding: 1rem 1rem !important;
}
.nav a:hover{  
	background-color: grey;
}
/* modficaciones css del cliente*/
body {
	font-size: 0.80rem !important;
	color: rgba(0,0,0,.87) !important;
}
input{
	font-size: 0.80rem !important;
}
a, a:hover{
	color: #4285f4;
	text-decoration: none !important
}
.form-group {
	margin-bottom: .40rem !important;
}
.is-focused [class *="bmd-label"], .is-focused [class^=bmd-label]{
	color: #4285f4 !important;
	font-weight: unset;
}
.bmd-form-group .checkbox label, .bmd-form-group .radio label, .bmd-form-group label {
	font-size: 0.80rem;
}
.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
	background-image: linear-gradient(0deg,#4285f4 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}
.custom-file-control, .form-control {
	padding: .3rem 0 !important;
}
.navbar-light .navbar-toggler {
	border-color: transparent !important; 
}
.navbar-toggler {
	padding: .25rem 0.4rem !important;
}
.btn.bmd-btn-icon {
	width: 2rem !important;
	height: 2rem !important;
}
.btn:hover{
	background-color: rgba(0,0,0,0.071) !important;
}
.navbar {
	padding: .3rem 1rem !important; 
}

#snackbar-container {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99999;
	display: inline-grid !important;
	width: 100%;
}
.snackbar {
	min-width: 100px !important;
	max-width: 340px !important;
}
/*codido propio*/
/*Tienda*/
.a{
	color: #cecfd0 !important;
}
.dnone{
	display: none;
}
.ct-tt{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.bg-submenu{
	background: #8080807a;
	color: #bdbdbd;
}
.section{
	display: flex;
	align-items: center;
}
.section h1{
	padding-top: 0px !important;
	margin-bottom:0px;
}
.section h4{
	margin-bottom:0px;
}
.section-card{
	border: 0;
	box-shadow: 0px 0px 12px 2px #808080ba;
}
.crs-pointer{
	cursor: pointer;
}
/*css del lado cliente*/
.foto-producto{
	width: 100%;
	height: auto;
}
#btn-filtro{
	margin-top: 3px;
	margin-left: 10px;
}
#filtro form {
    margin-bottom: 0.3rem !important;
}
#filtro .form-control {
    background-image: linear-gradient(0deg,#ffffff 2px,rgba(255, 255, 255, 0) 0),linear-gradient(0deg,rgba(255, 255, 255, 0.26) 1px,#ffffff00 0);
}
#filtro [class*=" bmd-label"], #filtro [class^=bmd-label] {
    color: rgba(255, 255, 255, 0.88);
}
#filtro  input{
	font-size: medium !important;
}
.btn-in-ss, .btn-in-ss:hover{
	background-color: #4285f4 !important;
	color: white !important;
	font-weight: 400 !important;
	text-transform: unset;
	font-size: 0.80rem !important;
	border-radius: 2px !important;
	padding: 0.35rem 1rem !important;
}
.btn-in-cm, .btn-in-cm:hover{
	background-color: red !important;
	color: white !important;
	font-weight: 400 !important;
	text-transform: unset;
	font-size: 0.80rem !important;
	border-radius: 2px !important;
	padding: 0.35rem 1rem !important;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo-in-ss{
	font-size: 120px;
	border-radius: 50%;
	background-color: #e1e1e1;
	color: #bdbdbd;
}
.box-in-ss{
	background-color: #f7f7f7;
	padding: 30px 30px 10px;
	width: 350px;
	box-shadow: 0px 0px 6px 1px #8080808c;
}
.box-in-ss h3{
	font-family: MontserratBold;
	margin: 0px;	
}
.fl-none{
	flex: none !important;
}
.tt-baldu, .tt-baldu a{
	font-family: MontserratMedium;
	font-weight: bold;
	margin-bottom: 0px !important;
	color: white;
	font-size: 32px;
}
.icon{
	background-color: #DADADA;
	border-radius: 50%;
}
.buscador{
	background: #ffffff66;
	padding: 2px 5px;
	border-radius: 5px;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-buscar{
	border: 0px;
	background-color: transparent;
}
.input-buscar{
	background-color: transparent;
	border: none;
	padding: 5px 20px;
	margin-top: 4px;
	width: 260px;
}
.input-buscar:focus{
	outline: 0px;
}
.icon-buscar{
	color: black !important;
}
.color-place-white::placeholder {
	color: white;
	opacity: 0.6;
}
.color-place-grey::placeholder{
	color: grey;
	opacity: 0.6;
}
.img-user{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding: 4px;
	background-color: #dadada7d;
}
.img-user:hover, .img-user:focus{
	background-color: rgba(0,0,0,0.20);
}

.box-user {
	display: none;
	position: absolute;
	background-color: white;
	box-shadow: 0px 0px 4px 1px #0000004f;
	width: 300px;
	height: auto;
	margin-left: -260px;
	margin-top: 43px;
}
.box-user-img{
	position: absolute;
	height: 110px;
	width: 110px;
	border-radius: 50%;
	background-color: #D7D7D7;
	top: 30px;
	left: 95px;
}
.box-carrito{
	display: none;
	position: absolute;
	background-color: white;
	box-shadow: 0px 0px 4px 1px #0000004f;
	width: 300px;
	height: auto;
	margin-left: -173px;
	margin-top: 43px;
}
.n-ss{
	margin-top: 170px;
	margin-bottom: 0px;
	text-transform: capitalize;
}
.e-ss{
	margin-bottom: 0px;
}
.cont-compra{
	background-color: #c3c3c347; 
	padding: 30px; 
	margin: 10px;
	border-radius:4px;
}
.cont-not{
	display: none;
}
.wd-car{
	width:205px;
}
.wd-close-car{
	width: 5px;
}
.wd-car>div>p:first-child{
	width:160px;
}
.wd-car>div>p:last-child{
	text-align: right;
	width: 35px;
}
.car-close{
	font-size: 18px;
	background: red;
	border-radius: 50%;
	padding: 3px;
	color: white;
	margin-top: -2px;
	width: 25px;
	height: 25px;
	border: 0px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	margin-left: 10px;
	align-items: center;
	padding: 0px;
}
.contador-compra{
	z-index: 10;
	display: flex;
	background: #4285f4;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	color: white;
	margin-left: -68px;
	position: absolute;
	margin-top: -3px;
}
#precio-text, #precio-total{
	margin: 0px;
	padding: 0px;
}
.producto{
	display: none !important;
}
.icon-compra{
	font-size: 50px;
}
#confirmar-pago{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

#confirmar-pago i{
	font-size: 50px !important;
}
#confirmar-pago p{
	margin-bottom: 0px !important;
}
.foto{
	width: 250px; 
	height: 300px;
}
.sombra-foto{
	box-shadow: 0px 0px 15px 5px #80808082;
}

/*Registro*/
.error{
	color: red;
	text-align: left;
	padding: 3px 0px;
	font-size: 13px;
}


/* tarjeta de presentacion*/
.card-precio{
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 0px;

}
.card-titulo{
	font-weight: 300;
	color: #212121;
	margin-bottom: 5px;
	text-transform: capitalize;
}
.card-subtitulo{
	color: #9f9f9f;
	margin-bottom: 0px;
	margin-top: 7px;
}
.tarjeta{
	display: inline-table;
	box-shadow: 0px 0px 5px 1px #cacacaba;
	border-radius: 3px;
}
/* Iconos redes sociales*/
.rs{
	font-size: 25px;
}
/*modal*/
.modal-backdrop{
	z-index: 0 !important;
}

.card-columns {
	column-count: 4 !important;
}

/*Preloader*/
.preloader {
	width: 70px;
	height: 70px;
	border: 10px solid #eee;
	border-top: 10px solid #666;
	border-radius: 50%;
	animation-name: girar;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes girar {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/*Media querys*/
@media (max-width: 1199px){
	.card-columns {
		column-count: 3 !important;
	}
}
@media (max-width: 991px){
	.card-columns {
		column-count: 2 !important;
	}
}
@media (max-width: 575px){
	.card-columns {
		column-count: 1 !important;
		width: 16rem;
	}
}

@media (max-width: 375px) {
	.input-buscar {
		width: 198px !important;
	}
	.buscador {
		width: 280px !important;
	}
}
